
.banner{
    background-image: url('../assets/img/banner-amazonica.jpg');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    height: 25vh;
    font-size: none;
}
main{
    flex-wrap: wrap;
    height: 70vh;
    font-size: none;
    margin-left: 30%;
    margin-right: 30%;
}

main1{
    flex-wrap: wrap;
    height: 70vh;
    font-size: none;
    margin-left: 20%;
    margin-right: 20%;
}